body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#page--wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
    min-height: 100vh;
}

header,
main {
    outline: 1px solid black;
}


nav {
    grid-column: 1fr;
    grid-row: 1 / span 2;
    background-color: #1993D3;
    color: white;
    padding: 40px;

}

.brand--wrapper>h1 {
    margin: 0 0 40px 0;
}

.logo {
    margin-right: 10px;
}

header {
    grid-column: 2 / span 3;
    height: 100px;
}



ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    display: grid;
    gap: 15px;
}

.menu.main {
    margin-bottom: 50px;
}

.menu--icon {
    margin-right: 5px;
}

header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 20px 40px;
    gap: 30px;
}

.search {
    display: flex;
    width: 100%;
    align-items: center;
}

.search--icon {
    margin-right: 20px;
}

.search>input {
    width: 100%;
}

.profilebar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
}

.profilebar>p,
.profile--icon {
    margin-left: 10px;
}

.profile--icon {
    font-size: 40px;
}

.bell--icon {
    font-size: 25px;
}

